# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.vite/
tsconfig.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist/
.server/
.server_build/
.tmp/
.temp/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swn
*.swo

# OS files
Thumbs.db
.DS_Store

# Testing
coverage/
.nyc_output/

# Misc
*.tgz
.vercel/
